@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white font-sans;
  }
}

.jeopardy-text {
  text-shadow: 2px 2px 0px #000;
  font-family: 'Impact', 'Arial Black', sans-serif;
}